<app-navegacion></app-navegacion>
<main>
  <section>
    <h1>Sección de administrador</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="tr-title" scope="col">No.</th>
          <th class="tr-title" scope="col">Producto</th>
          <th class="tr-title" scope="col">Cantidad</th>
          <th class="tr-title" scope="col">imagen</th>
          <th class="tr-title" scope="col">Eliminar</th>
          <th class="tr-title" scope="col">Actualizar</th>
        </tr>
      </thead>
      <tbody>
        @for (productos of allProducts; track $index){
        <tr>
          <th scope="row">1</th>
          <td>{{ productos.nombre }}</td>
          <td>{{ productos.cantidad }}</td>
          <td>{{ productos.precio }}</td>
          <td>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="deleteProduct(productos._id)">Eliminar</button>
          </td>
          <td>
            <button
              class="btn btn-secondary"
              data-bs-target="#exampleModalToggle"
              data-bs-toggle="modal">Actualizar</button>
          </td>
          <!-- <td ><button type="button" class="btn btn-secondary" >Actualizar</button></td> -->
        </tr>
        }
      </tbody>
    </table>

    <!-- Inicio del modal donde se agregaran los productos -->
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >

      <div class="modal-dialog mod-cont">
        <div class="modal-content con-mod">
          <div class="modal-header">
            <h1 class="modal-title fs-5 neg-title" id="exampleModalToggleLabel">
              Agregar producto
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label neg-title"
              >Nombre del Producto</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Ingrese nombre del producto"
            />
          </div>
          <div class="form-floating">
            <textarea
              class="form-control neg-title"
              placeholder="Leave a comment here"
              id="floatingTextarea"
            ></textarea>
            <label for="floatingTextarea">Descripción del producto</label>
          </div>
          <br />
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label neg-title"
              >Ingrese imegen del producto</label
            >
            <input
              type="file"
              class="form-control"
              aria-label="file example"
              required
            />
            <div class="invalid-feedback">Campo obligatorio</div>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2 neg-title" class="form-label"
              >Color</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="Ingrese el color"
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">
              Precio</label
            >
            <input
              type="number"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="Ingrese el precio"
            />
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              data-bs-target="#exampleModalToggle2"
              data-bs-toggle="modal"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <button
      class="btn btn-secondary"
      data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal"
    >
      Agregar Producto
    </button>
    <!-- termino modal agregar productos-->
  </section>
</main>

<app-footer></app-footer>
