<footer>
  <h3 class="kia-h3">KIA</h3>
  <hr />
  <div class="container-footer">
    <div>
      <h4>Tengo Cita</h4>
      <ul>
        <a href=""><li>Mantenimiento</li></a>
        <a href=""><li>Agendamiento de Citas</li></a>
        <a href=""><li>Confirma, cancela o reagenda tu cita</li></a>
        <a href=""><li>Campañas de seguridad</li></a>
        <a href=""><li>Garantía</li></a>
      </ul>
    </div>
    <div>
      <h4>Legales</h4>
      <ul>
        <a href=""><li>Política de tratamientos de datos personales</li></a>
        <a href=""><li>Privacidad</li></a>
        <a href=""><li>Términos y condiciones</li></a>
        <a href=""><li>Contáctanos</li></a>
        <a href=""><li>PQRSF</li></a>
      </ul>
    </div>
    <div>
      <h4 class="des-kia">Descubre Kia</h4>
      <ul>
        <a href=""><li>Nuestro movimiento</li></a>
        <a href=""><li>Sostenibilidad</li></a>
        <a href=""><li>Trabaja con nosotros</li></a>
      </ul>
    </div>
  </div>
</footer>
