
    <div class="container py-4 h-80 mod-ini-ses">
      <div class="row justify-content-center align-items-center h-80">
        <div class="col-10 col-lg-7 col-xl-6">
          <div class="card shadow-2-strong card-registration"  style="border-radius: 1rem;">
            <div class="card-body gradient-custom p-4 p-md-5"  style="border-radius: 1rem;">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registro</h3>
              <form>
  
                <div class="row">
                  <div class="col-md-12 mb-3">
  
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="firstName">Nombre Completo</label>
                      <input type="text" id="firstName" class="form-control" name="nombre" required/>
                      
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <!-- <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div data-mdb-input-init class="form-outline datepicker w-100">
                        <label for="datetime" class="form-label">Fecha de nacimiento</label>
                      <input type="date" class="form-control " id="birthdayDate" name="fecha"/>
                      
                    </div>
  
                  </div> -->
                  <!-- <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1">Genero: </h6>
  
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="femaleGender">Femenino</label>
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" checked required />
                      
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2"  />
                      <label class="form-check-label" for="maleGender">Masculino</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Otro</label>
                    </div>
  
                  </div> -->
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-3 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="emailAddress">Correo Electronico</label>
                      <input type="email" id="emailAddress" class="form-control" name="correo" required/>
                      
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" >Contraseña</label>
                      <input type="text" class="form-control" name="numero" required/>
                     
                    </div>
  
                  </div>

                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" >¿Eres Administrador?</label>
                        <select name="esAdmin" class="form-control" required>
                            <option disabled selected>Seleccione su Respuesta</option>
                            <option value="no">No</option>
                            <option value="si">Sí</option>
                        </select>  
                    </div>
                  </div>

                  <div class="col-md-6 mb-4 pb-2">
  
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" >Seleccione foto de perfil</label>
                      <input type="file" class="form-control" name="imagen" accept="imagen/*" required/>
                     
                    </div>
  
                  </div>

                </div>
                <div class="row">  <input data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit" value="Registrarse" />   
                  <div class="mt-4 pt-2">
                </div>
                </div>
                <div class="row">
                    <p class="mb-0 me-2 text-center">¿Ya tiene una cuenta?</p>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-4">Ingresar</button>
                  </div>
              </form>

           
            </div>
          </div>
        </div>
      </div>
    </div>

