<app-navegacion></app-navegacion>

<main>
  
  <h1>Conoce nuestros productos</h1>

  <div class="container-productos row">
    @for (productos of allProducts; track $index) {
    <div class="card">
      <img src="{{ productos.imagen }}" class="card-img-top" alt="..." />

      <div class="card-body">
        <h4 class="card-title">{{ productos.nombre }}</h4>
        <p class="card-text">{{productos.descripcion}}
        </p>
      </div>
      <!-- <div class="cont-colors">
        <p>Colores Disponibles: </p>
        <button
          type="button"
          class="btn btn-secondary color-btnR"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Rojo"{{prducto.color}}
        ></button>
        <button
          type="button"
          class="btn btn-secondary color-btnA"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Azul"
        ></button>
        <button
          type="button"
          class="btn btn-secondary color-btnV"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Verde Militar"
        ></button>
        <button
          type="button"
          class="btn btn-secondary color-btnP"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Plata"
        ></button>
        <button
          type="button"
          class="btn btn-secondary color-btnB"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Blanco"
        ></button>
      </div> -->
      <div class="cont-compra">
        <div class="p-precio">
          <p>
            Desde <br />
            <span class="precio-span">{{ productos.precio }}</span>
          </p>
        </div>
        <div>
          <a href="#" class="btn btn-fondo">Comprar</a>
        </div>
      </div>
    </div>
    }
  </div>
</main>

<app-footer></app-footer>
